:root {
	--primary-mid: #3C9700;
	--primary-light: #66B100;
	--primary-dark: #286400;
	--primary-ultralight: #EBF4E5;
	--secondary-mid: #FF6200;
	--secondary-light: #F80;
	--secondary-dark: #CC4E00;
	--info-ultralight: #ECF5FA;
	--info-mid: #459FD0;
	--warning-ultralight: #FDE8E9;
	--warning-mid: #ED1C24;
}

body {
	display: flex;
	margin: 15px 25px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.content {
	width: 80%;
}

.menu {
	width: 20%;
	position: sticky;
	top: 15px;
	height: min-content;
}

.menu a {
	display: block;
	padding: 0 0 0.7rem 0;
	width: max-content;
	font-weight: 600;
	font-size: 1.1rem;
}

h1 a, .menu a, .menu h1 {
	color: var(--primary-mid);
	text-decoration: none;
}

h1 a:hover, .menu a:hover {
	color: var(--primary-dark);
}

thead {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

th,
td {
	padding: 0.75rem;
	border: 1px solid #dee2e6;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.1em 10px 0.1em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}

pre>code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}